h1 {
  margin: 5px;
  font-family: Waltograph;
  font-weight: lighter;
  font-size: 40px;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
