h1 {
  margin: 5px;
  font-family: Waltograph;
  font-weight: lighter;
  font-size: 40px;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-image: url('./images/silverdots.jpeg');
}

img {
  height: 300px;
  width: 400px;
  border-radius: 10px;
}

img:hover,
h1:hover {
  background-color: #ff6ec7;
  padding: 4px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
